.revue-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 100%;
  font-family: "Mulish", sans-serif;
  cursor: pointer;
}

.revue-item img {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.revue-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.revue-description h2 {
  margin: 0;
  font-size: 1.5em;
}

.revue-description h3 {
  margin: 0;
  color: #666;
  font-size: 1em;
}

.revue-description p {
  margin-top: 0.5em;
  line-height: 1.6;
}

.download-numbers{
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .revue-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .revue-item img {
    width: 100%;
    max-width: 300px;
  }

  .revue-description {
    align-items: center;
  }
}

@media (max-width: 480px) {
  .revue-item {
    padding: 0.5em;
    max-width: 80%;
  }

  .revue-item img {
    width: 100%;
    max-width: 200px;
  }

  .revue-description h2 {
    font-size: 1.2em;
  }

  .revue-description h3 {
    font-size: 0.9em;
  }
  .revue-description p {
    display: none;
  }
}


@media (max-width: 470px) {
  .revue-item {
    padding: 0.5em;
  }

  .revue-item img {
    width: 100%;
    max-width: 200px;
  }

  .revue-description h2 {
    font-size: 1.2em;
  }

  .revue-description h3 {
    font-size: 0.9em;
  }
}
