
<div class="map-layout">
  <app-map-list
    *ngIf="showMapList"
    [itineraires]="itineraires"
    (traceItineraire)="onTraceItineraire($event)">
  </app-map-list>
  <div class="map-container">
    <div id="map" style="width: 100%; height: 100vh; border-radius:12px;"></div>
    <div class="map-buttons">
      <button (click)="onSpotsIneditsClick()">Spots Inédits</button>
      <button (click)="onItinerairesClick()">Itinéraires</button>
    </div>

  </div>
  <app-spot-description
    *ngIf="showSpotDescription"
    [spot]="selectedSpot">
  </app-spot-description>
</div>
