<div class="add-recruitment-container">
  <h2>Ajouter un poste</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Titre du Poste*</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        placeholder="titre du poste"
      >
    </div>

    <div class="form-group">
      <label>Description du Poste*</label>
      <div class="editor">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
        </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          formControlName="description"
          [placeholder]="'Décrivez le poste ici...'"
        >
        </ngx-editor>
      </div>
    </div>

    <div class="form-group">
      <label>Tags*</label>
      <div class="tags-input-container">
        <input
          type="text"
          [formControl]="tagInput"
          placeholder="Appuyez sur Entrée pour ajouter un tag"
          (keyup.enter)="addTag()"
        >
        <div class="tags-list">
          <span class="tag" *ngFor="let tag of tags">
            {{ tag }}
            <button type="button" class="remove-tag" (click)="removeTag(tag)">×</button>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="location">Lieu de Travail*</label>
      <input
        type="text"
        id="location"
        formControlName="location"
        placeholder="Ex: Paris, France , Télétravail"
      >
    </div>

    <div class="form-group">
      <label for="contractType">Type de Contrat*</label>
      <input
        type="text"
        id="contractType"
        formControlName="contractType"
        placeholder="Ex: CDI, CDD, Bénévolat,  Freelance"
      >
    </div>

    <div class="form-group">
      <label for="startDate">Date de Début</label>
      <input
        type="date"
        id="startDate"
        formControlName="startDate"
      >
    </div>

    <button
      type="submit"
      class="submit-btn"
      [disabled]="!form.valid || tags.length === 0"
    >
      Publier l'offre
    </button>
  </form>
</div>
