<div class="navbar">
  <div class="al-qantara-name">
    <h2>Al&nbsp;Qantara</h2>
  </div>
  <div class="nav-links">
    <a routerLink="/">Accueil</a>
    <a routerLink="/revues">Revues</a>
    <a routerLink="/contacts">Nous&nbsp;Contacter</a>
  </div>
</div>

<div class="main-container">
  <div class="left-container">
    <div class="form-container">
      <h2>Al Qantara</h2>
      <h3>Connexion</h3>
      <h4>Adresse&nbsp;Email</h4>
      <input type="text" placeholder="Email" name="username" required>
      <h4>Mot&nbsp;de&nbsp;passe</h4>
      <input type="password" placeholder="Password" name="password" required>
      <button type="submit">Connexion</button>
    </div>
  </div>
  <div class="right-container">
    <img src="assets/main-icon.jpg" alt="Al Qantara logo">

  </div>
</div>
