<div class="home-img">
  <img src="assets/nicolas-cool-3.jpg" alt="Nicolas Cool main image" />
  <div class="content-in_img">
    <h2>Soyez acteur de la culture Marocaine</h2>
    <h3>Al Qantara est une association dédiée à la promotion du patrimoine culturel marocain et au renforcement des liens entre la diaspora marocaine et le Maroc...</h3>

  </div>
</div>
<h1 class="title-introduction">Qui sommes nous ?</h1>
<div class="right-image-container">
  <div class="text-container">
    <p>Chez Al Qantara, nous œuvrons à renforcer les liens entre le Maroc et sa diaspora, en mettant la culture au cœur de cette connexion. À travers nos actions, nous créons un pont entre les générations, les talents et les idées, pour faire rayonner la richesse culturelle marocaine au-delà des frontières.</p>
  </div>
  <div class="image-container">
    <img src="assets/philipp-klausner-1.jpg" alt="image right container">
  </div>
</div>

<div class="left-image-container">
  <div class="text-container">
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
  <div class="image-container">
    <img src="assets/raul-cacho-2.jpg" alt="image left container">
  </div>


</div>

<div class="fonctionnalites-container">
  <div class="fonctionnalite not-finished">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50">
      <title>party-popper</title>
      <path d="M14.53 1.45L13.45 2.53L15.05 4.13C15.27 4.38 15.38 4.67 15.38 5S15.27 5.64 15.05 5.86L11.5 9.47L12.5 10.55L16.13 6.94C16.66 6.35 16.92 5.7 16.92 5C16.92 4.3 16.66 3.64 16.13 3.05L14.53 1.45M10.55 3.47L9.47 4.55L10.08 5.11C10.3 5.33 10.41 5.63 10.41 6S10.3 6.67 10.08 6.89L9.47 7.45L10.55 8.53L11.11 7.92C11.64 7.33 11.91 6.69 11.91 6C11.91 5.28 11.64 4.63 11.11 4.03L10.55 3.47M21 5.06C20.31 5.06 19.67 5.33 19.08 5.86L13.45 11.5L14.53 12.5L20.11 6.94C20.36 6.69 20.66 6.56 21 6.56S21.64 6.69 21.89 6.94L22.5 7.55L23.53 6.47L22.97 5.86C22.38 5.33 21.72 5.06 21 5.06M7 8L2 22L16 17L7 8M19 11.06C18.3 11.06 17.66 11.33 17.06 11.86L15.47 13.45L16.55 14.53L18.14 12.94C18.39 12.69 18.67 12.56 19 12.56C19.33 12.56 19.63 12.69 19.88 12.94L21.5 14.53L22.55 13.5L20.95 11.86C20.36 11.33 19.7 11.06 19 11.06Z" /></svg>
    <h3>Événements(A venir...)</h3>
    <p>Nous organisons des événements culturels, artistiques et éducatifs pour célébrer la richesse du patrimoine marocain et favoriser les échanges entre les membres de la diaspora.</p>
  </div>
  <div class="fonctionnalite done">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50"><title>newspaper</title><path d="M20,11H4V8H20M20,15H13V13H20M20,19H13V17H20M11,19H4V13H11M20.33,4.67L18.67,3L17,4.67L15.33,3L13.67,4.67L12,3L10.33,4.67L8.67,3L7,4.67L5.33,3L3.67,4.67L2,3V19A2,2 0 0,0 4,21H20A2,2 0 0,0 22,19V3L20.33,4.67Z" /></svg>
    <h3>Actualités et Revues</h3>
    <p>Nous partageons des nouvelles et des informations sur la culture marocaine, les événements à venir et les initiatives de la diaspora pour rester connectés et informés.</p>
  </div>
  <div class="fonctionnalite not-finished">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50"><title>airplane</title><path d="M20.56 3.91C21.15 4.5 21.15 5.45 20.56 6.03L16.67 9.92L18.79 19.11L17.38 20.53L13.5 13.1L9.6 17L9.96 19.47L8.89 20.53L7.13 17.35L3.94 15.58L5 14.5L7.5 14.87L11.37 11L3.94 7.09L5.36 5.68L14.55 7.8L18.44 3.91C19 3.33 20 3.33 20.56 3.91Z" /></svg>
    <h3>Itinéraires(A venir...)</h3>
    <p>Nous proposons des itinéraires culturels pour découvrir le Maroc sous un nouvel angle, en mettant en avant les trésors cachés et les traditions locales.</p>

  </div>

</div>
