@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');


.home-img{
  position: relative;
  width: 100%;
  height: auto;

}

.home-img img {
  opacity: 0.8;
  width: 100%;
  height: auto;
  filter: blur(0.5px);

}

.content-in_img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000000;
  font-family: Cormorant Garamond, serif;
  font-weight: bolder;
  font-size: 30px;
}

.image-container img {
  flex: 1;
  width: 80%;
  height: auto;
  max-width: 900px;

}
.right-image-container .image-container img {
  margin-left: 10%;
}
.text-container{
  font-family: Cormorant Garamond, serif;
  font-weight: bolder;
  color: #3a0706;
  text-align: justify;
}



.right-image-container{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-direction: row;
}


.left-image-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin: 50px 5% 2.5%;
}


@media (max-width: 768px) {
  .right-image-container, .left-image-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .home-img img{
    margin-top: 1em;
  }


  .right-image-container .image-container img,
  .left-image-container .image-container img {
    width: 80%;
    margin-left: 10%;
    max-width: 600px;
  }

  .text-container {
    max-width: 90%;
    font-size: 14px;
  }

  .content-in_img h2{
    font-size: 22px;
  }

  .content-in_img h3{
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .text-container {
    font-size: 12px;
  }


}
