<form>
  <p>Nom et Prénom</p>
  <div>
    <input
      type="text"
      placeholder="Nom"
      name="name"
      required>
    <input
      type="text"
      placeholder="Prénom"
      name="firstName"
    >
  </div>
  <p>Adresse e-mail</p>
  <input
    type="email"
    placeholder="Adresse e-mail"
    name="email"
    required>
  <p>Message</p>
  <div class="message-container">
    <textarea
      placeholder="Votre message"
      name="message"
      required>
    </textarea>
    <button
      type="submit"
      class="sending-button">
      Envoyer
    </button>
  </div>

</form>
