<div class="manage-recruitment-container">


  <div class="offers-list">
    <div class="offer-card" *ngFor="let offer of offers">
      <div class="offer-content">
        <h3>{{ offer.titre }}</h3>
        <div class="offer-details">
          <p><strong>Type de contrat:</strong> {{ offer.typeDeContrat }}</p>
          <p><strong>Lieu:</strong> {{ offer.lieuDeTravail }}</p>
          <p><strong>Date de début:</strong> {{ offer.dateDebut | date:'dd/MM/yyyy' }}</p>
        </div>
        <div class="tags">
          <span class="tag" *ngFor="let tag of offer.tags">{{ tag }}</span>
        </div>
      </div>
      <div class="offer-actions">
        <button
          class="edit-btn"
          (click)="editOffer(offer.id)"
          aria-label="Modifier l'offre"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="20px" width="20px">
            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
          </svg>
        </button>
        <button
          class="delete-btn"
          (click)="deleteOffer(offer.id)"
          aria-label="Supprimer l'offre"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="20px" width="20px">
            <title>delete</title>
            <path d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Modal d'édition -->
  <app-edit-recruitment
    *ngIf="selectedOfferId"
    [offerId]="selectedOfferId"
    (closeModal)="closeEditModal()"
    (offerUpdated)="onOfferUpdated()"
  ></app-edit-recruitment>
</div>
