
.revues-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centers the content vertically */
  height: 50vh;
  width: 100%;
}

.filters-bar{
  display: flex;
  flex-direction: row;
}

.revue-listing {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next row */
  justify-content: space-between; /* Adds spacing between items */
  gap: 1rem; /* Adds spacing between spans */
  width: 80%; /* Adjust width as needed */
  max-width: 1200px; /* Optional: Limit the maximum width */
}

span {
  flex: 1 1 calc(25% - 1rem); /* Each span takes 25% of the row minus the gap */
  box-sizing: border-box; /* Ensures padding and border are included in width */
  margin: 0; /* Removes default margin */
}
