<div class="revues-main-container">
  <div class="filters-bar">
    <div class="search-bar">
      <input
        type="text"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
      />
      <button type="button">Search</button>
    </div>
    <div class="filters">
      <label for="filter">Filter by:</label>
      <select id="filter" [(ngModel)]="selectedFilter" (change)="onFilterChange(selectedFilter)">
        <option value="Aucun">Aucun</option>
        <option value="most-recent">les plus récents</option>
        <option value="most-old">les plus anciens</option>
        <option value="les plus populaires">les plus populaires</option>
        <option value="les plus téléchargés">les plus téléchargés</option>
      </select>
    </div>
  </div>
  <div class="revue-listing">    <div class="revue-item-container" *ngFor="let revue of filteredRevues">
      <div class="revue-item-wrapper" (click)="onRevueClick(revue)">
        <app-revue-item [revue]="revue"></app-revue-item>
        <button
          *ngIf="isAdminRoute"
          class="delete-btn"
          (click)="onDeleteRevue(revue.id, $event)"
          aria-label="Delete Revue"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="20px" width="20px"><title>delete</title><path d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" /></svg>
        </button>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button
      [disabled]="currentPage === 1"
      (click)="changePage(currentPage - 1)"
    >
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button
      [disabled]="currentPage === totalPages"
      (click)="changePage(currentPage + 1)"
    >
      Next
    </button>
  </div>
</div>

<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <h3>{{modalTitle}}</h3>
    <p>{{modalMessage}}</p>
    <div class="modal-actions">
      <button (click)="confirmModal()" class="confirm-btn">Confirmer</button>
      <button (click)="closeModal()" class="cancel-btn">Annuler</button>
    </div>
  </div>
</div>
