
.revues-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 8em;
}

.filters-bar {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}


.revue-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  width: 80%;
  max-width: 1200px;
}


.revue-item-container {
  padding-top: 2em;
  flex: 1 1 100%;
  min-width: 500px;
}


@media (max-width: 380px) {

  .revue-listing {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .revues-main-container {
    padding-top: 2em;
  }


}


@media (max-width: 607px) {

  .revue-listing {
    align-items: center;
    width: 100%;
  }

  .revues-main-container {
    padding-top: 2em;
  }


}



@media (max-width: 768px) {

  .revue-listing {
    align-items: center;
    width: 100%;
  }

  .revues-main-container {
    padding-top: 2em;
  }


}

