<div class="calendar-container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<!-- Modal -->
<app-event-modal
  *ngIf="showModal"
  [event]="selectedEvent"
  (participate)="onParticipateToEvenement(selectedEvent)"
  [isParticipating]="isParticipating"
  [participation]="participation"
  [loading]="loading"
  (like)="onLikeEvenement(selectedEvent)"
  [hasLikedEvenement]="hasLikedEvenement"
  [error]="error"
  (unsubscribe)="onUnsubscribeEvenement(selectedEvent)"
  [unsubscribeConfirmed]="unsubscribeConfirmed"
  (comment)="onAddComment(selectedEvent,$event)"
  (close)="closeModal()">
</app-event-modal>
