.home_img img {
  width: 100%;
  height: auto;
}

.right_image_container, .left_image_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.right_image_container .image-container img{
  flex: 1;
  width: 50%;
  height: auto;
  max-width: 800px;
  margin-left: 300px;
}
.left_image_container .image-container img {
  flex: 1;
  width: 50%;
  height: auto;
  max-width: 800px;

}

.left_image_container .image-container img {
  align-items: flex-end;
}

.text-container {
  max-width: 40%;
  font-size: 16px;
}

.left_image_container {
  flex-direction: row-reverse;
}

.right_image_container {
  flex-direction: row;
}

@media (max-width: 768px) {
  .right_image_container, .left_image_container {
    flex-direction: column;
    align-items: center;
  }
  image-container {
    align-items: center;
  }

  .right_image_container .image-container img,
  .left_image_container .image-container img {
    width: 80%;
    margin-left: 0;
    max-width: 600px;
  }

  .text-container {
    max-width: 90%;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .text-container {
    font-size: 12px;
  }
}
