<div class="main-container">
  <div class="left-container">
    <div class="form-container">
      <h2>Al Qantara</h2>
      <h3>Mot de passe oublié ?</h3>

      <!-- Form for sending verification code -->
      <h4>Adresse&nbsp;Email</h4>
      <div class="email-container">
        <form [formGroup]="validationCodeForm" (ngSubmit)="onSendVerificationCode()">
          <input
            type="email"
            placeholder="Email"
            formControlName="email"
            required
            [class.invalid]="validationCodeForm.get('email')?.invalid && validationCodeForm.get('email')?.touched">
          <button type="submit" [disabled]="validationCodeForm.invalid">Envoyer</button>
        </form>
        <div *ngIf="validationCodeForm.get('email')?.invalid && validationCodeForm.get('email')?.touched" class="form-error">
          Format de l'email invalide ou adresse email vide
        </div>
      </div>
      <h6>Appuyer sur "Envoyer" pour recevoir un code de vérification sur votre email.</h6>
      <h4>Vous possédez déjà un code ? Appuyez ici</h4>
      <button (click)="showResetForm = true">J'ai un code de vérification</button>

      <!-- Form for submitting new password with verification code -->
      <div class="reset-password-container" *ngIf="showResetForm">
        <h4>Code&nbsp;de&nbsp;Vérification</h4>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitNewPassword()">
          <input
            type="text"
            placeholder="Code de Vérification"
            formControlName="accessCode"
            required
            [class.invalid]="resetPasswordForm.get('accessCode')?.invalid && resetPasswordForm.get('accessCode')?.touched">
          <div *ngIf="resetPasswordForm.get('accessCode')?.invalid && resetPasswordForm.get('accessCode')?.touched" class="form-error">
            Le code de vérification ne peut pas être vide
          </div>

          <h4>Nouveau&nbsp;Mot&nbsp;de&nbsp;passe</h4>
          <input
            type="password"
            placeholder="Nouveau Mot de Passe"
            formControlName="password"
            required
            [class.invalid]="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
          <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched" class="form-error">
            Le mot de passe ne peut pas être vide et doit contenir au moins 8 caractères
          </div>
          <h4>Confirmez&nbsp;le&nbsp;Mot&nbsp;de&nbsp;passe</h4>
          <p [ngStyle]="{ color: isError ? 'red' : 'green' }">{{ message }}</p>
          <input
            type="password"
            placeholder="Confirmer le Mot de Passe"
            formControlName="confirmPassword"
            required
            [class.invalid]="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
          <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched" class="form-error">
            Les deux mots de passe ne correspondent pas, réessayez.
          </div>

          <button type="submit" [disabled]="resetPasswordForm.invalid">Réinitialiser</button>
        </form>
      </div>
    </div>
  </div>
  <div class="right-container">
    <img src="assets/main-icon.jpg" alt="Al Qantara logo">
  </div>
</div>
