@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.main-container{
  display: flex;
  flex-direction: row;
  background-color: #3a0706;
  width: 100%;
}

.left-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: white;
}


.form-container h2{
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 20px;
}
.form-container{
  display: flex;
  flex-direction: column;
  width:50%;
  font-weight: 100;
  max-width: 450px;
  font-size: larger;
  font-family: "Mulish", sans-serif;
  background: #ffffff;
  padding: 20px;
  border-radius: 5%;

}

.form-container input,
.form-container select,
.form-container textarea {
  font-family: "Mulish", sans-serif;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-bottom: 10px;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
  outline: none;
  border-color: #9e2e2c;
  box-shadow: 0 0 0 2px rgba(158, 46, 44, 0.15);
}


.form-error {
  color: #ff4444;
  font-size: 0.8em;
}

.invalid {
  border: 2px solid #ff4444;
}

.form-container button{
  backface-visibility: hidden;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: white;
  background-color: #9e2e2c;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  font-size: 90%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s, box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.email-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.email-container input{
  height: 60%;
  width: 70%;
}

.email-container button{
  background-color: #9e2e2c;
  margin-top: 0;
  margin-left: 7px;
  width: fit-content;
}

.form-container p{
  margin-left: 10%;
}

.page-link {
  color: #e21d1c;
  text-decoration: underline;
}
.right-container {
  display: flex;
  width: 50%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #3a0706;
}

.right-container img {
  width: 100%;
  z-index: 1;
  height: auto;
  max-height: 1200px;
  max-width: 1200px;
}

@media (max-width: 768px) {
  .form-container h2{
    display: none;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .left-container {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .right-container {
    display: none; /* Cache l'image sur mobile */
  }

  .form-container {
    width: 90%;
  }
}
