<div class="main-container">
  <div class="left-container">
    <div class="form-container">
      <h2>Al Qantara</h2>
      <h3>Mot de passe oublié ?</h3>
      <h4>Adresse&nbsp;Email</h4>
      <div class="email-container">
        <input type="text" placeholder="Email" name="username" required>
        <button type="submit">Envoyer</button>
      </div>
      <h6>Appuyer sur "Envoyer" pour recevoir un code de vérification sur votre email.</h6>
      <h4>Code&nbsp;de&nbsp;Vérification</h4>
      <input type="text" placeholder="Code de Vérification" name="verification-code" required>
      <button type="submit">Réinitialiser</button>
    </div>
  </div>
  <div class="right-container">
    <img src="assets/main-icon.jpg" alt="Al Qantara logo">

  </div>
</div>
