<div class="contacts-container">
  <div class="left-container-contacts">
    <h1>Contactez-nous !</h1>
    <p>Vous avez une question ? Vous souhaitez nous faire part de vos remarques ?</p>
    <p>Nous sommes à votre écoute !</p>
    <div class = "social-media-Instagram">
      <img src="assets/Instagram_logo.jpg" alt="Instagram Logo" />
      <a href="https://www.instagram.com/alqantara_ma/" target="_blank">
        <h3>Instagram</h3>
      </a>
    </div>
    <div class = "social-media-Linkedin">
      <img src="assets/LinkedIn_logo.png" alt="LinkedIn Logo" />
      <a href="https://www.linkedin.com/company/al-qantara-ma" target="_blank">
        <h3>LinkedIn</h3>
      </a>
    </div>
  </div>
  <div class="right-container_form">
  </div>
</div>
