<h2>Evénements à venir</h2>
<div class="event-listing">
  <div
    class="event-item-container"
    *ngFor="let event of filteredEvenements"
    (click)="openModal(event)">
    <app-event-item [event]="event"></app-event-item>
  </div>
</div>

<div class="pagination">
  <button
    [disabled]="currentPage === 1"
    (click)="changePage(currentPage - 1)">
    Previous
  </button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button
    [disabled]="currentPage === totalPages"
    (click)="changePage(currentPage + 1)">
    Next
  </button>
</div>

<!-- Modal -->
<app-event-description
  *ngIf="showModal"
  [event]="selectedEvent"
  (participate)="onParticipateToEvenement(selectedEvent)"
  [isParticipating]="isParticipating"
  [participation]="participation"
  [loading]="loading"
  (like)="onLikeEvenement(selectedEvent)"
  [hasLikedEvenement]="hasLikedEvenement"
  [error]="error"
  (unsubscribe)="onUnsubscribeEvenement(selectedEvent)"
  [unsubscribeConfirmed]="unsubscribeConfirmed"
  (comment)="onAddComment(selectedEvent,$event)"
  (close)="closeModal()">
</app-event-description>
