<div class="profile-view-container">
  <div class="profile-box">
    <h2>Mon Profil</h2>
    <p class="description">Informations liées à votre compte</p>

    <div class="profile-group">
      <label>Prénom</label>
      <p>{{ user?.prenom }}</p>
    </div>

    <div class="profile-group">
      <label>Nom</label>
      <p>{{ user?.nom }}</p>
    </div>

    <div class="profile-group">
      <label>Email</label>
      <p>{{ user?.email }}</p>
    </div>

    <div class="profile-group">
      <label>Téléphone</label>
      <p>{{ user?.telephone }}</p>
    </div>

    <button routerLink="/profile/edit">Modifier mon profil</button>
  </div>
</div>
