<div class="post-description-root" *ngIf="post">
  <div class="post-title">{{ post.titre }}</div>
  <div class="post-meta">
    Auteur : <span *ngIf="post.auteur">{{ post.auteur.prenom }} {{ post.auteur.nom }}</span> | {{ post.dateCreation | date:'dd/MM/yyyy HH:mm' }}
  </div>
  <div class="post-tags">
    <span *ngFor="let tag of post.tags" class="tag">#{{ tag }}</span>
  </div>
  <div class="post-content">{{ post.contenu }}</div>
  <button (click)="likeDislikePost($event)">Like | {{ post.likes?.length || 0 }}</button>
  <div class="comments-section">
    <app-comment
      *ngFor="let comment of post.commentaires"
      [comment]="comment"
      [replyFormVisible]="replyFormVisible"
      [replyContent]="replyContent"
      [toggleReplyForm]="toggleReplyForm"
      [addReply]="addReply"
      [likeDislikeComment]="likeDislikeComment"
    ></app-comment>
  </div>
  <form (ngSubmit)="addComment()" #commentForm="ngForm" class="add-comment-form">
    <textarea
      name="commentContent"
      [(ngModel)]="newCommentContent"
      required
      placeholder="Ajouter un commentaire..."
      rows="2"
      class="comment-input"
    ></textarea>
    <button type="submit" [disabled]="commentForm.invalid">Envoyer</button>
  </form>
</div>
<div *ngIf="loading" class="loading">Chargement...</div>
<div *ngIf="error" class="error">{{ error }}</div>
