<div class="main-container">
  <div class="left-container">
    <div class="form-container">
      <h2>Al Qantara</h2>
      <h3>Connexion</h3>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h4>Adresse&nbsp;Email</h4>
        <input
          type="email"
          placeholder="Email"
          formControlName="email"
          required
          [class.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
        >

        <h4>Mot&nbsp;de&nbsp;passe</h4>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          required
          [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
        >

        <button type="submit" [disabled]="loginForm.invalid">Connexion</button>
      </form>
      <p>Mot de passe oublié ? <a routerLink="/auth/reset-password" class="reset-link">Réinitialisez le ici</a></p>
    </div>
  </div>
  <div class="right-container">
    <img src="assets/main-icon.jpg" alt="Al Qantara logo">

  </div>
</div>
