<div class="main-container">
  <div class="left-container">
    <div class="form-container">
      <h2>Al Qantara</h2>
      <h3>Création de votre compte</h3>
      <h5>Remplissez le formulaire pour créer votre compte</h5>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="names-container">
          <div class="names-inputs">
            <h5>Nom</h5>
            <input
              type="text"
              placeholder="Nom"
              formControlName="nom"
              required
              [class.invalid]="registerForm.get('nom')?.invalid && registerForm.get('nom')?.touched"
            >
          </div>
          <div class="names-inputs">
            <h5>Prénom</h5>
            <input
              type="text"
              placeholder="Prénom"
              formControlName="prenom"
              required
              [class.invalid]="registerForm.get('prenom')?.invalid && registerForm.get('prenom')?.touched"
            >
          </div>
        </div>
        <h4>Adresse Email</h4>
        <input
          type="email"
          placeholder="Email"
          formControlName="email"
          required
          [class.invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
        >
        <h4>Mot de passe</h4>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          required
          [class.invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
        >
        <button type="submit" [disabled]="registerForm.invalid">Inscription</button>
      </form>
    </div>
  </div>
  <div class="right-container">
    <img src="assets/main-icon.jpg" alt="Al Qantara logo">
  </div>
</div>
