<div class="main-container">
  <div class="left-container">
    <div class="form-container">
      
      <h3>Création de votre compte</h3>
      <h5>Remplissez le formulaire pour créer votre compte</h5>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="names-container">
          <div class="names-inputs">
            <h5>Nom</h5>
            <input
              type="text"
              placeholder="Nom"
              formControlName="nom"
              required
              [class.invalid]="registerForm.get('nom')?.invalid && registerForm.get('nom')?.touched"
            >
            <div *ngIf="registerForm.get('nom')?.invalid && registerForm.get('nom')?.touched" class="form-error">
              Le nom ne peut pas être vide
            </div>
          </div>
          <div class="names-inputs">
            <h5>Prénom</h5>
            <input
              type="text"
              placeholder="Prénom"
              formControlName="prenom"
              required
              [class.invalid]="registerForm.get('prenom')?.invalid && registerForm.get('prenom')?.touched"
            >
            <div *ngIf="registerForm.get('prenom')?.invalid && registerForm.get('prenom')?.touched" class="form-error">
              Le prénom ne peut pas être vide
            </div>
          </div>
        </div>
        <h4>Adresse Email</h4>
        <input
          type="email"
          placeholder="Email"
          formControlName="email"
          required
          [class.invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
        >
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="form-error">
          Format de l'email invalide ou adresse email vide
        </div>

        <h4>Mot de passe</h4>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          required
          [class.invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
        >
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="form-error">
          Le mot de passe ne peut pas être vide, il doit avoir au moins 8 caractères.
        </div>
        <h4>Confirmez votre mot de passe</h4>
        <input
          type="password"
          placeholder="Password"
          formControlName="confirmPassword"
          required
          [class.invalid]="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="form-error">
          Les deux mots de passe ne correspondent pas, réessayez.
        </div>
        <button type="submit" [disabled]="registerForm.invalid">Inscription</button>
      </form>
      <div *ngIf="errorMessage" class="form-error">
        {{ errorMessage }}
      </div>
      <p>Déjà un compte ? <a routerLink="/auth/login" class="reset-link">Connectez-vous ici</a></p>
    </div>
  </div>
  <div class="right-container">
    <img src="assets/main-icon.jpg" alt="Al Qantara logo">
  </div>
</div>
